.table-operations {
    color: white;
    margin: 30px auto;
    max-width: 500px;
    width: 80%;
}

.h2-my-operations {
    color: white;
    margin-top: 30px;
    text-align: center;
}

.more-container {
    bottom: 20vh;
    position: fixed;
    right: 10vw;
    z-index: 1;
}

.btn-table {
    background-color: black;
    border: white;
    color: white;
}

.not-available-operations-p {
    color: white;
    margin: 50px auto;
    text-align: center;
}

.section-my-operations {
    flex: 1;
}