.h3-reset-password {
    color: white;
    margin: 30px auto 0;
    text-align: center;
}

.reset-password-container {
    margin: 30px auto;
    max-width: 500px;
    width: 80%;
}

.btn-reset-password {
    margin: 20px auto;
}